<div class="card rounded-0 bg-9" data-card-height="150">
    <div class="card-top">
        <a href="#" class="close-menu float-end me-2 text-center mt-3 icon-40 notch-clear"><i class="fa fa-times color-white"></i></a>
    </div>
    <div class="card-bottom">
        <h1 class="color-white ps-3 mb-n1 geo font-16">Schweitzer Office</h1>
        <p class="mb-2 ps-3 font-12 color-white opacity-650">166 Village Ln #201a Sandpoint</p>
    </div>
    <div class="card-overlay bg-gradient opacity-70"></div>
</div>
<div class="mt-4"></div>
<h6 class="menu-divider">Library</h6>
<div class="list-group list-custom-small list-menu">

    <a id="nav-schweitzer" href="#" data-menu="menu-main">
        <i class="fa fa-arrow-circle-left gradient-red color-white"></i>
        <span>Back</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a id="nav-components" href="index-components.html">
        <i class="fa fa-cog gradient-blue color-white"></i>
        <span>Schweitzer Property Search</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a id="nav-pages" href="index-pages.html">
        <i class="fa fa-file gradient-brown color-white"></i>
        <span>Schweizer Condo Map</span>
        <i class="fa fa-angle-right"></i>
    </a>

</div>
<h6 class="menu-divider mt-4">settings</h6>
<div class="list-group list-custom-small list-menu">
    <a href="#" data-menu="menu-colors">
        <i class="fa fa-brush gradient-highlight color-white"></i>
        <span>Highlights</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a href="#" data-toggle-theme="" data-trigger-switch="switch-dark-mode">
        <i class="fa fa-moon gradient-dark color-white"></i>
        <span>Dark Mode</span>
        <div class="custom-control small-switch ios-switch">
            <input data-toggle-theme type="checkbox" class="ios-input" id="toggle-dark-menu">
            <label class="custom-control-label" for="toggle-dark-menu"></label>
        </div>
    </a>
</div>
<h6 class="menu-divider mt-4">Contacts</h6>
<div class="list-group list-custom-small list-menu">
    <a href="#">
        <img src="images/pictures/8s.jpg">
        <span>Coldwell Banker Resort Realty</span>
        <i class="fa fa-angle-right"></i>
    </a>

</div>
<h6 class="menu-divider font-10 mt-4">Made with <i class="fa fa-heart color-red-dark pl-1 pr-1"></i> by <a href="https://jonnyBot.com">jonnyBot</a><span class="copyright-year">2021</span></h6>